
/* Importar una fuente externa desde google fonts */


@import url('https://fonts.googleapis.com/css2?family=Libre+    skerville:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* Importa iconos */

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css');

/* Lista de variables */
:root {
    /* paleta de colores */
    --color1: #092A48;
    --color2: #746f6f;
    --color-blanco: #fff;
    --color-negro: #000;
    --color-morado: #37093764;
    --celeste: #48c7ec;

    /* Tipografias */
    --fuente1: "Poppins",'Verdana',sans-serif;
    --fuente2: "Libre Baskerville",serif;
    --fuente3: "Bona Nova SC"
    --fuente4: "Kanit";
}

/* Seleccionador universal de objetos */

*{

    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

/* Selectores de estilo por etiqueta html */

body{
    font-family: var(--fuente4);
    line-height: 2em;
    font-size: 18px;
}

h1{
    font-size: 60px;
    text-align: center;
    font-family: var(--fuente1);
}

h2{
    font-size: 40px;
    font-weight: 200;
    letter-spacing: 5px;
}
p, h2, h3, h4 {
    margin-bottom: 20px;
}

/* Elimina el espacio que aparece en la parte inferior del objeto */
img, video, iframe{
    display: block;
}

h3{
    color: var(--color-negro);
}

/* Selectores de estilos por ID */



#titulo{
    background-color: var(--color1);
    color: var(--color-blanco);
    padding-top: 20px;
    padding-bottom: 20px;

    position: sticky;
    top: 0;
    z-index: 1;
}
#nosotros{
    background: rgb(2,0,36);
    background: linear-gradient(129deg, rgba(2,0,36,1) 0%, rgba(9,42,64,1) 35%, rgba(0,212,255,1) 100%);

}

#nosotros p{

    color: var(--color-blanco);
    font-size: 25px;

}

#ubi {
    background-color: var(--celeste);
    color: var(--color-blanco);
}


#banner{

    background-image: url('imagenes/banner.jpg');
    background-size: cover; 

}

#videos-produc{

    margin-top: 0px;
    margin-bottom: 0px;
    background: linear-gradient(129deg, rgba(2,0,36,1) 0%, rgba(9,42,64,1) 40%, rgba(0,212,255,1) 100%);

}

#banner p{

    font-family: var(--fuente1)

}

#pregunta{
    text-align: center;
    font-size: 75px;
    padding-bottom: 35px;
}
#servicios{
    text-align: center;
    background: rgb(2,0,36);
    background: linear-gradient(129deg, rgba(2,0,36,1) 0%, rgba(9,42,64,1) 35%, rgba(0,212,255,1) 100%);
    
}

#servicios h2{

    font-size: 75px; 
    padding-bottom: 35px;

}

#servicios p{

    color: var(--color-blanco);
    font-size: 35px;
}

#productos {
    text-align: center;
    background-color: var(--color-blanco);
    color: var(--color2);
    margin-top: 15px;
    margin-bottom: 0;
}

#productos h3{
    margin-top: 15px;
    margin-bottom: 10px;
    
}

#productos .columna:hover .text-ap {
    opacity: 1;
}

#productos .columna img {
    transition: all 0.3s ease-in-out;
}

#productos .columna:hover img {
    transform: scale(110%);
}

#conoce{

    transform: translateX(-200px);
    transition: all 0.3s ease-in-out;
    
}

#productos .columna:hover p {
    transform: translateX(0);
}


#productos h2{

    padding-bottom: 20px; 
    font-size: 50px; 
    color: #092A48;

}

.ocultar-desborde {
    overflow: hidden;
    
}

#clientes{

    background: rgb(2,0,36);
    background: linear-gradient(129deg, rgba(2,0,36,1) 0%, rgba(9,42,64,1) 35%, rgba(0,212,255,1) 100%);
    text-align: center;

}

#comentarios{
    text-align: center;
    background-color: var(--color-blanco);
    color: var(--color2);
}

#grupo{
    background-image: url('imagenes/santander.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
    background-attachment: fixed;
}   

#Metas h2{

    padding-top: 50px;
    font-size: 70px; 
    color: beige;

}

#Metas p{

    font-size: 21px;
    padding-top: 15px; 
    color: azure;

}

#pie{
    background: var(--color1);
    text-align: center;
    height: auto;
}

#pie a{

    color: var(--color2);

}

#pie p{

    color: var(--color2);

}

#us{

    background-image: url(imagenes/historia.jpg);
    text-shadow: 3px 3px rgb(120, 38, 38);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
    background-attachment: fixed;

}

#us h2{

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 150px;
    color: var(--color1);
    padding-bottom: 30PX;
}


#us p{

    font-family: var(--fuente2);
    font-size: 33px;
    padding-top: 50px;
    color: var(--color-blanco);

}

#grupo p{

    color: var(--color-blanco);
    font-size: 30px;
    text-shadow: 3px 3px 2px black;
}
#grupo h2{

    color: var(--color-blanco);
    font-size: 80px;
    text-shadow: 3px 3px 2px black;
}


#objetivo{

    background-image: url(imagenes/preg.jpg);

}

#objetivo h2{

    font-size: 85px; 
    color: rgb(50, 167, 203); 
    text-shadow: 2px 2px rgb(169, 44, 44);

}

#objetivo p{

    font-size: 40px; 
    color: rgb(202, 198, 194); 
    text-shadow: 2px 2px #092A48;

}

/* Selector de estilo por clase */

.espaciado{
    padding-top: 90px;
    padding-bottom: 90px;
}

.respa{

    width: auto;
    height: 700px;
}

.caja-principal{

    position: relative;

}

.text-ap {
    
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--color1);
    color: var(--color-blanco);
    padding: 30px;
    text-align: center;
    top: 0;
    left: 0;
    opacity: 0; 
    transition: all 0.5s ease-in-out;

}

.cont-ob{

    display: flex;

}

.contenedor-respa{

    text-align: center;
    padding-top: 210px;

}

.contenedor{
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.ajustar-imagen{
    width: 100%;
    margin-bottom: -30px;
    margin-top: -30px;
}

.ajustar-pequeño{
    width: 100%;
    height: 250px;
    padding-bottom: 10px;
}

.fila{

     display: flex; 
     flex-direction: row; 
     margin-left: 7px;
     margin-right: 7px;
     flex-wrap: wrap;

}

.columna{

    flex-basis: 0;
    flex-grow: 1;
    padding-left: 7px;
    padding-right: 7px;
}

.borde{
    border-style: inset;
    border-width: 3px;
    border-color: var(--color-negro);
    border-radius: 3px;
}

.sombra{
    box-shadow: 5px 7px gray;

}

.cabecera-logo{
    width: auto;
    height: 150px;
}

#banner h1{

    padding-top: 200px; 
    font-size: 140px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    color: #092A48; 
    text-shadow: 3px 3px rgb(120, 38, 38);
}

#barra-superior{
    background-color: var(--celeste);
    color: var(--color-blanco);
    background: linear-gradient(129deg, rgb(191, 14, 29) 20%, rgba(0,212,255,1) 100%);
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 0.8em;
}

#clientes h2{

    font-size: 75px; 
    padding-bottom: 35px;

}

#clientes p{

    font-size: 35px; 
    color: white;

}

#barra-superior a{
    color: var(--color-blanco);
    text-decoration: none;
    margin-right: 13px;
}

#barra-superior .fila{
    justify-content: space-between;
}

#barra-superior i{
    font-size: 1em;

}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    width: 120px;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 40px;
    list-style-type: none;
}

.nav-menu-link {
    text-decoration: none;
    display: inline-block;

    background-color: var(--celeste);
    color: var(--color-negro);

    margin: 0px 5px;
    padding: 10px 20px;
    border-radius: 10px;

    transition: all 0.5s ease-in-out;
} 

.nav-menu-link:hover {
    background-color: var(--color2);
}

.contenedor-pie{

    display: flex;
    justify-content: space-around;
    text-align: center;
}

.contenedor-link{

    display: flex;
    flex-direction: column;
    text-align: start;

}

.cont-red{

    display: flex;
    justify-content: space-evenly;

}

.col-33 {
    max-width: 33.33%;
    flex-basis: 33.33%;
}

.ajustar-video {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
}


.ajustar-mapa {
    width: 100%;
}

.texto-enorme {
    font-size: 3em;
    line-height: 1.5em;
}

.cont-social{

    display: flex;
    text-align: center;
    justify-content: space-around;
    box-sizing: content-box;
}

.icons{

    padding: 20px;
    padding-left: 150px;
    padding-right: 90px;
    box-sizing: content-box;
    background-color: #092A48;

}

.campo-entrada {
    width: 100%;
    margin: 10px 0px;
    padding: 15px 5px;
    font: inherit;  
    border: none;
    outline: none;
    border-bottom: var(--color1) 1px solid;
}

.formulario-registro h3 {
    color: var(--color1);
    text-align: center;
    padding: 10px 0px;
    font-size: 30px;
}

form {

    max-width: 600px;
    border: 2px solid black;
    padding: 20px;
    border-radius: 7px;
    background-color: rgb(255, 255, 255);
    box-shadow: 30px 20px 20px rgb(107, 136, 107);
}

.boton-enviar {
    background-color: var(--color1);
    color: var(--color-blanco);
    width: 50%;
    font: inherit; 
    padding: 5px 10px;   
    cursor: pointer;
    border: none;
    transition: all 0.3s ease-in-out;
}

.boton-enviar:hover {
    background-color: var(--color2);
    transform: translateY(-5px);
}

.centrar-bloque {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centrar-texto {
    text-align: center;
}


/* Estilos para el Diseño Responsive */

/* Para pantalla pequeña o laptop */
@media screen and (max-width:1024px) {
    .contenedor {
        max-width: 90%;
    }
    .contenedor-pie{

        max-width: 90%;
    }
    .cont-social{

        max-width: 90%;
    }

    .icons {

        padding-left: 100px;

    }
}

/* Para pantalla de tablet */
@media screen and (max-width:768px) {
    .banner-hijo {
        position: static;
        width: 100%;
    }

    .icons {

         padding-left: 35px;

    }

    .nav-bar{

        flex-direction: row;

    }

    .cont-social{

        max-width: 100%;
    }

    #productos .fila {
        flex-direction: column;
    }

    #productos .columna {
        margin-bottom: 20px;
    }

    #clientes .columna {
        flex-basis: 48%;
        max-width: 48%;
        margin-bottom: 15px;
    }

    #productos .fila {
        flex-direction: column;
    }

    #productos .col-33 {
        flex-basis: 50%;
        max-width: 50%;
    }

    #lideres .columna:last-child {
        flex-basis: 100%;
        max-width: 100%;
    }

}

/* Para pantalla de celular */
@media screen and (max-width:480px) {
    .contenedor {
        max-width: 95%;
    }
    

    .contenedor-pie{

        max-width: 95%;
        flex-direction: column;
    }

    body {
        font-size: 14px;
    }


    #barra-superior .fila {
        justify-content: center;
        font-size: 0.9em;
    }

    #comentarios .fila{

        flex-direction: column;
    }

    .icons{

        padding-left: 25px;
        padding-right: 25px;

    }

    .nav-menu-link {
        font-size: 0.9em;
        padding: 5px 5px;
        margin: 3px;
    }

    .texto-enorme {
        font-size: 2em;
    }

    #clientes .columna {
        max-width: 100%;
        flex-basis: 100%;
    }

    #banner h1{

        font-size: 100px;
        padding-right: 15px;

    }

    .nav-bar {
        flex-direction: column;
        padding-right: 355px;
    }

    #pregunta{

        font-size: 50px;

    }

    #nosotros p{

        font-size: 20px;

    }

    #clientes h2{

        font-size: 50px;

    }

    #clientes p{

        font-size: 20px;

    }


    #productos h2{

        font-size: 30px;

    }
    
    #grupo h2{

        font-size: 50px;

    }

    #grupo p{

        font-size: 25px;

    }

    #servicios h2{

        font-size: 60px;

    }

    #servicios p{

        font-size: 25px;

    }

    #us h2{

        font-size: 90px;
    }

    #us p{

        font-size: 25px;
    }

    #Metas h2{

        font-size: 50px; 

    }

    #Metas p{

        font-size: 15px;


    }

    #objetivo h2{

        font-size: 40px; 
    
    }
    
    #objetivo p{
    
        font-size: 30px; 
    
    }

    #ubi h1{

        padding-right: 25px;
      

    }

    #comentarios h2{

        font-size: 30px;

    }

}